html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container {
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

:nth-child(2n) {
    align-self: center;
}

:nth-child(3n) {
    align-self: flex-end;
}

div {
    width: 100px;
    height: 100px;
    background-color: #daa520;
    border-radius: 50px;
}
